body {
    font-family: 'Roboto', sans-serif !important;
}

.card{
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

.artcor{
 background-color: rgb(221, 153, 51);
}

.artcorFraco{
  background-color: rgb(177, 122, 41);
  color: white  !important;
}

.btn-artcor{
  background-color: rgb(198, 124, 12);
  font-weight: bold;
  color: white;
}

.li-a-artcor{
  font-weight: bold;
}

.li-a-artcor:hover{
  background-color: rgb(177, 122, 41);
  color: white !important;
  font-weight: bold;
}

.dropdown-artcor{
  color: rgb(198, 124, 12) !important;
  font-weight: bold;
}

.dropdown-artcor:hover{
  background-color: rgb(177, 122, 41);
  color: white !important;
  font-weight: bold;
}